[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorboard = "*"

[packages]
g2p-en = "==2.1.0"
inflect = "==4.1.0"
librosa = "==0.7.2"
matplotlib = "==3.2.2"
numba = "==0.48"
numpy = "==1.19.0"
pypinyin = "==0.39.0"
pyworld = "==0.2.10"
scikit-learn = "==0.23.2"
scipy = "==1.5.0"
tensorboard = "==2.2.2"
tgt = "==1.4.4"
torch = "==1.7.0"
tqdm = "==4.46.1"
PyYAML = "==5.4.1"
SoundFile = "==0.10.3.post1"
Unidecode = "==1.1.1"
ipykernel = "*"
torch-tb-profiler = "*"
pillow = "*"

[requires]
python_version = "3.8"
