numpy == 1.19.0
torch == 1.7.0
tgt == 1.4.4
scipy == 1.5.4
pyworld == 0.2.10
librosa == 0.7.2
numba == 0.48.0
matplotlib == 3.3.2
unidecode == 1.1.1
inflect == 4.1.0
tensorboard== 2.3.0
pypinyin == 0.39.0
scikit-learn==0.23.2