dataset: "YourDataSet" # change this

path:
  corpus_path: "/path/to/your/corpus/with/same/structure/as/LJSpeech" # change this
  lexicon_path: "lexicon/YourLanguage-lexicon.txt" # change this
  raw_path: "/path/to/your/lab/and/wav/files" # change this
  preprocessed_path: "./preprocessed_data/LJSpeech" # change this

preprocessing:
  val_size: 512
  text:
    text_cleaners: ["english_cleaners"] # change this add method to text/cleaners.py
    language: "en" # change this
    use_spe_features: False
    spe_feature_dim: 36
  audio:
    sampling_rate: 22050
    max_wav_value: 32768.0
  stft:
    filter_length: 1024
    hop_length: 256
    win_length: 1024
  mel:
    n_mel_channels: 80
    mel_fmin: 0
    mel_fmax: 8000 # please set to 8000 for HiFi-GAN vocoder, set to null for MelGAN vocoder
  pitch:
    feature: "phoneme_level" # support 'phoneme_level' or 'frame_level'
    normalization: True
  energy:
    feature: "phoneme_level" # support 'phoneme_level' or 'frame_level'
    normalization: True
  speaker:
    embedding: "none" # support 'deep-speaker' or 'none'
    pretrained_path: ""
